# Python
venv/
__pycache__/
*.pyc

# Build output
dita/
*.epub
*.pdf
!8.5x11.pdf
*.log

# DITA-OT plugins (installed locally)
pdf-theme/*
!pdf-theme/cfg/
pdf-theme/cfg/*
!pdf-theme/cfg/common/
pdf-theme/cfg/common/*
!pdf-theme/cfg/common/vars/
pdf-theme/cfg/common/vars/*
!pdf-theme/cfg/common/vars/en.xml
pdf-theme-syntax-highlight/
pdf-theme-syntax-highlight.zip
